#favoritedItem #contents {
    margin: 0 15px;
}

#favoritedItem .row {
    margin-bottom: 10px;
}

.generated {
    color: #07f302;
}
.failed {
    color: #f34802;
}

GeneratedImageElement {
    margin: 1px 10px;
    max-width: 200px;
    max-height: 240px;
}